## Spring DATASOURCE (DataSourceAutoConfiguration & DataSourceProperties)
spring.datasource.url={{ service_install_run_data_source_connection }}
spring.datasource.username={{ service_install_run_data_source_connection_user }}
spring.datasource.password={{ service_install_run_data_source_connection_password }}


# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto = update

